body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.logo img{
    width:50px;
}
.logo h2{
position: relative;
top:1%
}
.navbar-nav li a{
    margin:10px;
    font-size: 1.4rem;  
}

.nav-bar a{
    font-size: 1.9rem;
    color: darkblue  !important;
    font-weight: 450;

}
.nav-bar{
    display:inherit;
}
.nav-bar a:hover{
    color: orangered !important;
}

.carousel-item img{ 
    height:750px;
    
}
.swim {
    position: relative;
    left: 40%;
    margin-top: 2%;
    
}
.swim h2{
    color: orangered;
    font-weight: 500;
}
.swim::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 0.8%;
    background-color: darkblue;
    width: 200px;
    height: 3px;
    border-radius: 50px;
}
.cards{
    position: relative;
    padding-top: 5%;
}
.card img{
    width:620px;
    height: 400px;

}
.din{
    position: relative;
    left: 42%;
    top:5%;
    
}
.din h2{
    color: orangered;
    font-weight: 500;
}
.din::after{
    content: "";
   position: absolute;
   left: 0.3%;
    background-color: darkblue;
    width: 85px;
    height: 3px;
    border-radius: 50px;
}
.lounge{
    position: relative;
    left: 40%;
    top:5%;
   
}
.lounge h2{
    color: orangered;
    font-weight: 500;
}
.lounge::after{
    content: "";
   position: absolute;
   left: 0.3%;
    background-color:darkblue;
    width: 89px;
    height: 3px;
    border-radius: 50px;
}
.halls{
    position: relative;
    left: 40%;
    top:5%;
   
}
.halls h2{
    color: orangered;
    font-weight: 500;
}
.halls::after{
    content: "";
   position: absolute;
   left: 0.3%;
    background-color:darkblue;
    width: 185px;
    height: 3px;
    border-radius: 50px;
}
 

.car img{
    width: 330px;
    height:350px;
    margin-left:55px;
    
} 
.card-deck{
   width: 1500px;
   position: relative;
   top:80px;
   left:11%;
  
}
.clor{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
    
}
.testimonial{
    position: relative;
    left: 42%;
    top:5%;
    
}
.testimonial h2{
    color: orangered;
    font-weight: 500;
}
.testimonial::after{
    content: "";
   position: absolute;
   left: 0.3%;
    background-color: darkblue;
    width: 165px;
    height: 3px;
    border-radius: 50px;
}
.full{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
.col-md-7 h2{ 
    color: orangered !important;
    font-size: 1.6rem;
    
    }
    .col-md-7 p{
        color:darkblue;
        font-weight: 400;
    }
    .col-md-4 h2{
        color: orangered !important;
        font-size: 1.6rem;
    }
    .col-md-4 a{
        color:darkblue;
        font-weight: 400;
    }
    .col-md-4 a:hover{
        color:orangered;
    }
    .site-footer{
        margin-top: 15%;
    }
    .btn-2 h5{
        color:orangered;
    }
    .icons i{
        font-size: 22px;
        padding-left: 8px; ;
    }
    .small {
        position: relative;
          left:30% !important;
    
    }
    .locate{
        position: relative;
        margin-top: 5%;
        margin-left: 45%;
    }
    .locate h2{
        color: orangered;
        font-weight: bold;
    }
    .locate::after{
        content: "";
       position: absolute;
       left: 1.3%;
        background-color: darkblue;
        width: 100px;
        height: 3px;
        border-radius: 50px;
    }
    .maps{
        position: relative;
        margin-top:4%;
        
    }