*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 30vw;
  padding: 20px;
}
h1{
  margin-left: 40%;
}
header{
  height: 40vh;
  width: 100%;
  background: black;
  display: inline-block;
}

 header h1{
  color: black;
  margin-top: 18vh;
  display: inline-block;
  margin-left: 20vh;
  background: white;
  border-radius: 30vh;
  padding: 10px;
  font-size: 80px;

}
nav{
  float: right;
  margin: 18vh;
  margin-right: 12vh;
  background: white;
  padding: 4vh;
  border-radius: 30vw;
}
header a{
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 30vw;
  padding: 20px;
}
header h1,h2{
 text-align: center;
}
.looks img{
  width:20%;
  height:450px;
  margin: 2%;
}
.looks div{
  display: inline-block;
}
.looks  a{
  margin-left:45%;
  margin-top:50px;
  margin-bottom: 30px;
  display: inline-block;
  background: white;
  color: black;
  border-radius: 30vw;
  padding: 20px;
}
.looks,.products{
  background:linear-gradient(white,black);
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;

}
section{
  background: linear-gradient(white,black);
}

.container{
  max-width: 1300px;
  margin: auto;
  padding:0 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-4{
  flex-basis: 22%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  margin-right: 10px;
  background: ;
}
.col-4 img{
  width: 100%;
}
h2{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height:60px
  color:black;
  margin-top: 50px;
  padding-top:20px;
}
h2::after{
  content: '';
  background: black;
  width: 80px;
  height: 5px;
  border-radius:5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}
h4,p{
  color: white;
}
.products img{
  width: 200px;
  height: 250px;

}
.col-5 img{
  width: 100px;
  height: 80px;
}
.contact{
  text-align: center;
  background: black;
  color: white;
}
i{
  margin: 10px;
  color: white;
}
.active{
  background: white;
  color: black;
}
.col-2{
  flex-basis: 45%;
}
.col-2 img{
  width: 300px;
  height: 400px;
}
.col-4:hover{
  
}
